.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: larger;
  h2 {
    font-weight: normal;
  }

  h3 {
    text-align: center;
    padding-bottom: 40px;
    width: 40%;
    border-bottom: 3px solid #d9d9d9;
  }
}
